1. Swapping Variables

Write a Python program to swap the values of two variables entered by the user.

Hint: Use a temporary variable or Python’s tuple unpacking to swap values.

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Before swapping: a =", a, "b =", b)

temp = a
a = b
b = temp

print("After swapping: a =", a, "b =", b)

Before swapping: a = 5 b = 6
After swapping: a = 6 b = 5

2. Simple Calculator (No Conditions)

Create a program that takes two numbers and an operator (+, -, *, /) as input from the user and prints the result.

Hint: Use eval() or separate conditions for operators, but since no conditions allowed, use eval() with the expression.

In [ ]:
num1 = input("Enter first number: ")
op = input("Enter operator (+, -, *, /): ")
num2 = input("Enter second number: ")

expression = num1 + op + num2
result = eval(expression)
print("Result:", result)

Result: 963

3.Ask the user to input a number as a string. Convert it to an integer and a float, then print both values and their types.

Hint: Use int(), float(), and type() to show the types.

In [ ]:
num_str = input("Enter a number: ")

num_int = int(num_str)
num_float = float(num_str)

print(num_int, type(num_int))
print(num_float, type(num_float))

6 <class 'int'>
6.0 <class 'float'>

4. Quadratic Equation Roots (No Conditions)

Write a program that takes three numbers as input: a, b, and c for the equation ax^2 + bx + c = 0. Calculate the roots using the formula.

Hint: Use ** for power and complex() if you get a negative square root. Do not use any modules or conditions.

In [ ]:
a = float(input("Enter a: "))
b = float(input("Enter b: "))
c = float(input("Enter c: "))

d = b**2 - 4*a*c
root1 = (-b + complex(d)**0.5) / (2*a)
root2 = (-b - complex(d)**0.5) / (2*a)

print("Root 1:", root1)
print("Root 2:", root2)

Root 1: (-0.5714285714285714+0.6226998490772392j)
Root 2: (-0.5714285714285714-0.6226998490772392j)

5. Custom Data Type Formatter

Take input of a person’s name, age, and height (in cm). Print a formatted string: “Name: <name>, Age: <age> years, Height: <height> cm”. Also, make sure age is an integer and height is a float.

Hint: Use input(), int(), float(), and f-strings for formatting.

In [8]:
name = input("Enter name: ")
age = int(input("Enter age: "))
height = float(input("Enter height in cm: "))

print(f"Name: {name}, Age: {age} years, Height: {height} cm")

Name: sandeep reddy, Age: 23 years, Height: 170.0 cm

6. Complex Expression Evaluator

Write a program that takes three numbers from the user and calculates the result of the expression: ((num1 + num2) * num3) / (num1 - num2). Print the result rounded to 2 decimal places.

Hint: Use parentheses for the calculation and round() for formatting. If you get an error (like dividing by zero), Python will show it.

In [10]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

result = ((num1 + num2) * num3) / (num1 - num2)
print("Result:", round(result, 2))

Result: -3.92

7. Sum of Two Numbers

# Write a program to take two numbers as input and print their sum.

# Hint: Use the + operator to add the numbers

In [11]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum_result = num1 + num2
print("Sum:", sum_result)

Sum: 15.0

8. Uppercase String

# Take a string as input and print it in uppercase.

# Hint: Use the .upper() method on the string.

In [14]:
text = input("Enter a string: ")
print("Uppercase:", text.upper())

Uppercase: 3

9. Square of a Number

# Input a number and print its square.

# Hint: Use the ** operator with exponent 2 or multiply the number by itself.

In [15]:
num = float(input("Enter a number: "))
square = num ** 2
print("Square:", square)

Square: 49.0

10. Greeting Message Take a name as input and print “Hello,<name>

In [18]:
name = input("Enter your name: ")
print("Hello,", name)

Hello, sandeep reddy

11. String Concatenation

# Input two strings and print them concatenated together.

# Hint: Use the + operator to join the strings.

In [19]:
str1 = input("Enter first string: ")
str2 = input("Enter second string: ")

result = str1 + str2
print("Concatenated String:", result)

Concatenated String: 56

12. Float to Integer Conversion

# Take a float as input and print its integer equivalent using int().

# Hint: Use int() to convert the float to an integer, which truncates the decimal part.

In [20]:
num = float(input("Enter a float number: "))
print("Integer equivalent:", int(num))

Integer equivalent: 56

13. Age Display

# Input an age as a number and print “You are <age> years old”.

# Hint: Convert the input to int if needed and use f-string for formatting.

In [21]:
age = int(input("Enter your age: "))
print(f"You are {age} years old")

You are 23 years old

14. Product of Two Numbers

# Take two numbers as input and print their product.

# Hint: Use the * operator to multiply the numbers.

In [23]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
product = num1 * num2
print("Product:", product)

Product: 45

15. String Length

# Input a sentence and print its length using len().

# Hint: Apply len() directly to the input string.

In [19]:
sentence = input("Enter a sentence: ")
print("Length of the sentence:", len(sentence))

Length of the sentence: 61

16. Average of Three Numbers

# Take three numbers as input and print their average.

# Hint: Sum the numbers and divide by 3, use parentheses for clarity.

In [18]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

average = (num1 + num2 + num3) / 3
print("Average of three numbers:", average)

Average of three numbers: 4.333333333333333

17. Absolute Value

# Input a number and print its absolute value using abs().

# Hint: Use the built-in abs() function.

In [17]:
num = float(input("Enter a number: "))
print("Absolute value:", abs(num))

Absolute value: 8.0

18. Difference of Two Numbers

# Take two numbers as input and print their difference.

# Hint: Subtract the second number from the first using the - operator.

In [16]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print("Difference:", num1 - num2)

Difference: -3.0

19. String Reversal

# Input a string and print it reversed using slicing.

# Hint: Use slicing with [::-1] to reverse the string.

In [15]:
text = input("Enter a string: ")
print("Reversed string:", text[::-1])

Reversed string: 7

20. Height Conversion

# Input height in centimeters and print it converted to meters.

# Hint: Divide the height by 100 to convert cm to meters.

In [14]:
height_cm = float(input("Enter height in cm: "))
height_m = height_cm / 100
print("Height in meters:", height_m)

Height in meters: 1.7

21. Quotient of Two Numbers

# Take two numbers as input and print their quotient.

# Hint: Use the / operator for division.

In [11]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print("Quotient:", num1 / num2)

Quotient: 0.875

22. Quoted Name

# Input a name and print it surrounded by double quotes.

# Hint: Use f-string like f’”{name}”’ or concatenation with quotes.

In [10]:
name = input("Enter your name: ")
print(f'"{name}"')

"sandeep reddy"

23. Formatted Number

# Take a number as input and print it rounded to 2 decimal places.

# Hint: Use round(number, 2) to round to 2 decimal places.

In [ ]:
num = float(input("Enter a number: "))
print("Formatted number:", round(num, 2))

24. String Separation

# Input two strings and print them separated by a space.

# Hint: Use f-string like f”{str1} {str2}” or concatenation with a space.

In [8]:
str1 = input("Enter first string: ")
str2 = input("Enter second string: ")

print(f"{str1} {str2}")

67 87

25. Type of Input

# Take any input and print its type using type().

# Hint: Apply type() to the input variable.

In [7]:
value = input("Enter something: ")
print("Type of input:", type(value))

Type of input: <class 'str'>

26. Sum and Product

# Input three numbers and print their sum and their product.

# Hint: Calculate sum with + and product with *, print both.

In [3]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

sum_result = num1 + num2 + num3
product_result = num1 * num2 * num3

print("Sum:", sum_result)
print("Product:", product_result)

Sum: 19.0
Product: 224.0