In [1]:
print("sandeep reddy")

sandeep reddy

In [7]:
print("you see a apple seller")
q= input ("do you like apples?")

if q == "yes":
    print("purchase 2kg of apples ")
if q == "no":
    print("you dont purchase apples")

you see a apple seller
purchase 2kg of apples

In [5]:
salary = 42000
da=0
if salary > 50000:
    da = .15
total = salary + salary *da
print(f"total salary is {total}")

total salary is 42000

In [16]:
salary = 42000
if salary > 50000:
    da=.15
    total = salary + salary * da 
else: 
    total=salary 
print(f"total salary is {total}")

total salary is 42000

X=int(input())
Y=int(input())
if X>Y:
    q=X-Y
else
    a=Y-X

X=int(input())
Y=int(input())
if X>Y:
    q=X-Y
else
    a=Y-X

In [21]:
name = input("enter your fav movie")
if len(name)>10:
    print(f"long movie name:{name}")
else:
    print(f"short movie name:{name}")
print("the end")

long movie name:batman the beginning
the end

In [9]:
print("what is the capital of india")
answer = input ("Answer")
if answer ==  "Delhi":
    print("you are correct")
if answer == "New Delhi":   
    print ("you are very correct")
if answer == "I dont know":
    print ("youo must be sleeping under rock")
if answer == "Shimla":
    print ("you must be a Britain")

what is the capital of india
you are very correct

In [ ]:
marks = int(input("enter your total marks in 10th:"))
if marks  > 90:
    print("Your grade : A")
if marks > 75:
    print("Your grade: B")
if marks > 60:
    print("Your grade: C")
if marks > 40:
    print("Your grade: D")
if marks < 40:
    print("Your grade: ☠️")

Your grade: ☠️

In [17]:
marks = int(input("enter your total marks in 10th:"))
if marks  > 90:
    print("Your grade : A")
elif marks > 75:
    print("Your grade: B")
elif marks > 60:
    print("Your grade: C")
elif marks > 40:
    print("Your grade: D")
elif marks < 40:
    print("Your grade: ☠️")

Your grade : A

In [22]:
marks = int(input("enter your total marks in 10th:"))
if marks  > 90 and marks <=100:
    print("Your grade : A")
if marks > 75 and marks <=90:
    print("Your grade: B")
if marks > 60 and marks <= 75:
    print("Your grade: C")
if marks > 40 and marks <=60:
    print("Your grade: D")
if marks < 40:
    print("Your grade: ☠️")

Your grade: B

In [8]:
salary = int (input ("Enter your frds salary:"))
if salary > 100000:
    total = salary - salary * .2
elif salary > 80000:
    total = salary - salary * .1
elif salary > 50000:
    total = salary - salary * .05
else:
    total = salary + 10000
print(f'frds salary =>{salary}')
print(f'frds total =>{total}')

frds salary =>19999
frds total =>29999