In [6]:
range(1 , 10 , 2)
for i in range(1 , 10, 2):
   print(i)

1
3
5
7
9

In [7]:
range(0,15,5)
for i in range(0,15,5):
   print(i)

0
5
10

In [2]:
for i in range(10,0,-2):
   print(i)

10
8
6
4
2

In [8]:
for num in range(100,201,2):
    print(num)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200

In [3]:
for num in range(100,201,2):
    print(num,end=",")

100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,152,154,156,158,160,162,164,166,168,170,172,174,176,178,180,182,184,186,188,190,192,194,196,198,200,

In [4]:
colours=['red','blue','green']
print(colours)

['red', 'blue', 'green']

In [5]:
#formatted output
for colour in colours:
    print(colour)

red
blue
green

In [7]:
movies=['arya','I','red','saaho','bahubali','mrperfect','darling','OG','kalki','dhee']
for movie in movies:
    print(movie)

arya
I
red
saaho
bahubali
mrperfect
darling
OG
kalki
dhee

In [11]:
for i in range(1,101,2):
   print(i, end=",")

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,

In [2]:
for i in range (1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [8]:
for i in range (0,12):
    if i%2!=0:
            print(i)

1
3
5
7
9
11

In [14]:
nums=[1,5,11,3,12,15]
for i in nums:
    if i%2==0:
        s=i**2
        print(s)
    else :
        print("odd number")

odd number
odd number
odd number
odd number
144
odd number

In [ ]:

nums=[1,5,11,3,12,15]
for i in nums:
    if i%2==0:
        s=i**3
        print(s)
    else :
        print("even number")

even number
even number
even number
even number
1728
even number

In [17]:
radius = [3,5,6,11,10]
for r in radius:
        area=3.14*r**2
        print(f"the area for {r} is {area}")

the area for 3 is 28.26
the area for 5 is 78.5
the area for 6 is 113.04
the area for 11 is 379.94
the area for 10 is 314.0

In [1]:
videogames=['free fire','PUBG','Temple Run','vice city','LUDO','chess','8 ball pool','candy crush','cricket','snake game']
for name in videogames:
    if name.startswith('c'):
        print(name)

chess
candy crush
cricket

In [27]:
books=["The final empire","war breaken","elantnis","The well of ascension","The alloy of law","Hero of ages","The way of kings"]
for book in books:
    if "The" in book or "of" in book:
         print(f"book->{book}")

book->The final empire
book->The well of ascension
book->The alloy of law
book->Hero of ages
book->The way of kings

In [12]:
total=0
for num in range(10,21):
    total=total+num
print(total)

165

In [14]:
total=1
for num in range(10,21):
    total=total*num
print(total)

6704425728000

In [15]:
nums=[5,11,2,53,10,33]
m=0
for num in nums:
    if num>m:
        m=num
print(m)

53

In [21]:
nums=[25,26,27,28,29,30,31,31,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]
count=0
for i in nums:
    if i%3==0:
        count=count+1
print(f"total count={count}")

total count=8

In [25]:
count=0
for i in nums:
    if i%2==0:
        count=count+2
print(count)

24

In [10]:
movies=["Saaho","oG","Bahubali","Salaar","Rajasaab","Mrperfect","RRR","Kalki","Pokiri","Rebel","Mirchi","F1","Master","Darling","Spirit","Animal","Gabbarsingh","Arjunreddy","hariharaveeramallu"]
movies_with_s = 0
for movie in movies:
    if movie.startswith("S") or movie.startswith("s"):
        # long way -> movies_with_s = movies_with_s + 1
        movies_with_s +=1
print("count",movies_with_s)

count 3

In [3]:
num = 10
fact = 1
# you can use a backward or forward loop
for i in range(num,0,-1):
    print(f'{i} * {fact}')
    fact = fact * i
print(fact)

10 * 1
9 * 10
8 * 90
7 * 720
6 * 5040
5 * 30240
4 * 151200
3 * 604800
2 * 1814400
1 * 3628800
3628800

In [12]:
# Loops total 10*5 => 50 times1
for i in range(1,11):        # loops 10 times
    for j in range(1,6):     # loops 5 times
        print(f"i = {i},j = {j}")

i = 1,j = 1
i = 1,j = 2
i = 1,j = 3
i = 1,j = 4
i = 1,j = 5
i = 2,j = 1
i = 2,j = 2
i = 2,j = 3
i = 2,j = 4
i = 2,j = 5
i = 3,j = 1
i = 3,j = 2
i = 3,j = 3
i = 3,j = 4
i = 3,j = 5
i = 4,j = 1
i = 4,j = 2
i = 4,j = 3
i = 4,j = 4
i = 4,j = 5
i = 5,j = 1
i = 5,j = 2
i = 5,j = 3
i = 5,j = 4
i = 5,j = 5
i = 6,j = 1
i = 6,j = 2
i = 6,j = 3
i = 6,j = 4
i = 6,j = 5
i = 7,j = 1
i = 7,j = 2
i = 7,j = 3
i = 7,j = 4
i = 7,j = 5
i = 8,j = 1
i = 8,j = 2
i = 8,j = 3
i = 8,j = 4
i = 8,j = 5
i = 9,j = 1
i = 9,j = 2
i = 9,j = 3
i = 9,j = 4
i = 9,j = 5
i = 10,j = 1
i = 10,j = 2
i = 10,j = 3
i = 10,j = 4
i = 10,j = 5

In [21]:
n = 6
for i in range(1,n):
    for j in range(1,n):
     print(j, end=' ')  # dont change line till inner loop
    print()            # change line for the outer loop

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [25]:
n = 8
for i in range(1,n):
    for j in range(1,n):
     print(j, end=' ')  # dont change line till inner loop
    print()            # change line for the outer loop

1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7

In [27]:
# skip every value divisible by 3
for i in range(1,25):
    if i%3==0:
        continue
    print(i, end=' ')

1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23

In [28]:
data = [1,2,0,3,3,0,1,2,0,5,6,7,2,0,2,1]
for i in data:
    if i== 0:
        continue
    print(i, end=' ')

1 2 3 3 1 2 5 6 7 2 2 1

In [30]:
for i in range(1,11):
    if i== 8:
        break
    print(i, end=" ")

1 2 3 4 5 6 7

In [2]:
# Add all values entered by user till he/she types 0
total = 0
print("enter 0 to stop the loop")
for i in range(100):
    value = int(input("enter a value"))
    if value == 0:
        break
    total += value     # add the value to total
print(f"total = {total}")

enter 0 to stop the loop
total = 89053

In [3]:
nums=[2,5,8,11,15]
for n in nums:
    print(n)
print("loop completed")

2
5
8
11
15
loop completed

In [4]:
nums=[2,5,8,11,15]
for n in nums:
    if n>10:
        break
    print(n)
print("loop completed")

2
5
8
loop completed

In [12]:
value=int(input("Enter breakpoint"))
nums=[1,2,3,4,5,6,11,15,20,25]
for n in nums:
    if value > n:
        print("loop broken")
else:
    print("loop competed")

loop broken
loop broken
loop broken
loop broken
loop broken
loop broken
loop broken
loop competed

In [26]:
num=int(input("enter a number"))
for n in range(2,num):
    if num % n==0:
        print(f"{num} not a prime number")
        break

8 not a prime number

In [29]:
num=int(input("enter a number"))
for n in range(2,num):
    if num % n==0:
        print(f"{num} not a prime number")
        break
else:
    print(f"{num} is prime number")

7 is prime number

In [32]:
X=50
while X>0:
    print(X,end=" ")
    X-=5

50 45 40 35 30 25 20 15 10 5