In [2]:
s="once upon a time"
s2=s.replace('once','twice')
print(s,s2)
s3=s.replace('e','i')
print(s3)

once upon a time twice upon a time
onci upon a timi

In [4]:
#replace for removing content
data='py#h#o#n'
cleaned_data=data.replace('#','')
print(data,cleaned_data,sep='\n')

py#h#o#n
pyhon

In [6]:
m="Alpine mountain range"
print(m.find('mountain'))
print(m.find('lion')) #output -1
print(m.find('pine')) #output 3
print(m.find('i'))
print(m.find('i',4))

7
-1
2
3
13

split&join

In [8]:
quote="life before death,courage before despare,journey before destination"
words=quote.split() # str->list
print(quote)
print(words)

life before death,courage before despare,journey before destination
['life', 'before', 'death,courage', 'before', 'despare,journey', 'before', 'destination']

In [9]:
quote="life before death,courage before despare,journey before destination"
words=quote.split() # str->list
print(quote)
print(words)
sentences=quote.split(',')
print(sentences)

life before death,courage before despare,journey before destination
['life', 'before', 'death,courage', 'before', 'despare,journey', 'before', 'destination']
['life before death', 'courage before despare', 'journey before destination']

In [14]:
addr=['Mbu','sree sanath nagar','tirpati','517502']
addr_str=",".join(addr)
print(addr,addr_str,sep='\n')
addr2="_".join(addr)
addr3="\n".join(addr)
addr4="what".join(addr)

['Mbu', 'sree sanath nagar', 'tirpati', '517502']
Mbu,sree sanath nagar,tirpati,517502

functions&modules

In [1]:
n=input("enter value")
if int(n)%2==0:
    print('even')
else:
    print('odd')

even

In [6]:
def fun_name([param1,param2,...]):
    statement1
    statement2
    ...
    statementn  
    return value

SyntaxError: invalid syntax (4264194939.py, line 1)

In [9]:
def greeting():
    print("Happy")
    print("Depavali")

In [8]:
def total(a,b,c):
    ans = a+b+c
    print(f'total = {ans}')
total(10,20,30)
total(1,15,13)

total = 60
total = 29

In [7]:
def msg():
    print("Hello")
msg()
msg()
msg()

Hello
Hello
Hello

In [16]:
def mul(a,b):
    print(a*b)
mul(2,3)
mul(15,175)
mul(5,15)

6
2625
75

In [23]:
import math
def hyp(p,b):
    ans=math.sqrt(p**2+b**2)
    return ans
hyp(10,5)

11.180339887498949

In [25]:
def is_even(num):
    if num%2 ==0:
        return True
    else:
        return False
is_even(15)

False

In [30]:
x=int(input('enter even num'))
if is_even(x):
    print("good job")
else:
    print("you are stupid")

you are stupid

convention while creating function 
1 Dont take input inside function 
2 Return the value from the function 
3 use patameter to pass input to function 
4 keep it small & simple

1 Required parameter

In [15]:
def area (l , b):
    return l*b
ans=area(10,5)
print(ans)

50

2 named parameter calls

In [14]:
res=area(l=5,b=13)
print(res)

65

In [12]:
def si(p,r,t):
    return p*r*t/100

3 default parameter

In [17]:
def pow(n,e=2):
    return n**e
print(pow(10,3))
print(pow(10))

1000
100

In [18]:
def adder(a,b=0,c=0,d=0):
    return a+b+c+d

In [19]:
adder(10)

10

In [20]:
adder(5,4)

9

In [21]:
adder(2,3,4)

9

In [22]:
adder(5,4,3,2)

14

In [23]:
adder(a=10,c=10,d=2)

22

In [24]:
def ctof(val):
    f=(vol*9/5)+32
    return f

non returning non parameterized functions

In [3]:
def greeting():
    print("üåü"*5)
    print("Good morning")
    print("üåü"*5)
#call
    greeting()

In [6]:
def dice_roll():
    import random
    out = {1:'üëç',2:'‚úåÔ∏è',3:'üëå',4:'‚ù§Ô∏è',5:'ü§ö',6:'üòé'}
    value = random.randint(1,6)
    return out.get(value)
# calls
print(dice_roll())
print(dice_roll())
print(dice_roll())
print(dice_roll())

‚úåÔ∏è
üëç
üëå
üëå

In [8]:
# parametrized value returning function
def is_valid_password(pwd):
    if len(pwd) < 8:return False
    if not pwd.isalnum(): return False
    return True

print(is_valid_password("hello"))
print(is_valid_password("helloword"))
print(is_valid_password("helloworld10"))
print(is_valid_password("3120@1233"))

False
True
True
False

In [10]:
# proper function syntax in python 
def area(length: int, breadth: int)-> int:
    return length * breadth 

l = 12
b = 15
a = area(l, b)
print(f'area = {a}')

area = 180

In [14]:
# default args
def cleanText(data, to_remove="@$#%"):
    newdata = data
    for char in to_remove:
        newdata = newdata.replace(char,'')
    return newdata

cText = cleanText("He#ll#o@")
print(cText)
cText2 = cleanText("H@!()#!@i", to_remove='@!#()')
print(cText2)

Hello
Hi

In [15]:
def add100(a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z):
    return a+b+c+d+e+f+g+h+i+j+k+l+m+n+o+p+q+r+s+t+u+v+w+x+y+z

add100(1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,)

26

### Variable Arguments in python

A function can have variable arguments in python using # symbol before a parameter in the function defination, This allows the function to accept any number of positional as a tuple.

In [19]:
# A function that can multiply n parameters
def multiplier(*numbers):
    result = 1
    for value in numbers:
        result *= value 
    return result

print(multiplier())
print(multiplier(2,3,4))
print(multiplier(2,3,4,5,6,1,2,2,5,56,2))

1
24
1612800

In [20]:
def operate(*args, operator="*"):
    result = 0
    if operator == '*':
        result = 1
        for num in args:
            result*=num
        return result
    elif operator == '+':
        result = 1
        for num in args:
            result+=num
        return result
    else:
        return "Wrong operator give, please provide + or *"         
    
print(operate(1,2,3,4))
print(operate(1,2,3,4, operator='+'))
print(operate(1,2,3,4, operator='-'))

24
11
Wrong operator give, please provide + or *

In [21]:
for i in range (1,6): print(i)

print(list(range(1,10)))

1
2
3
4
5
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
# creating a generator (use yield insted of return)
def squared(data):
    for i in data:
        yield i**2

# squared(data=[1,2,3,4,5,6,7]):

# this is how we use generator (getting 1 value at a time)
for num in squared([2,3,3,5,6,7]):
    print("square",num)

# or
print(list(squared([22,33,55])))

square 4
square 9
square 9
square 25
square 36
square 49
[484, 1089, 3025]