In [2]:
s="once upon a time"
s2=s.replace('once','twice')
print(s,s2)
s3=s.replace('e','i')
print(s3)

once upon a time twice upon a time
onci upon a timi

In [4]:
#replace for removing content
data='py#h#o#n'
cleaned_data=data.replace('#','')
print(data,cleaned_data,sep='\n')

py#h#o#n
pyhon

In [6]:
m="Alpine mountain range"
print(m.find('mountain'))
print(m.find('lion')) #output -1
print(m.find('pine')) #output 3
print(m.find('i'))
print(m.find('i',4))

7
-1
2
3
13

split&join

In [8]:
quote="life before death,courage before despare,journey before destination"
words=quote.split() # str->list
print(quote)
print(words)

life before death,courage before despare,journey before destination
['life', 'before', 'death,courage', 'before', 'despare,journey', 'before', 'destination']

In [9]:
quote="life before death,courage before despare,journey before destination"
words=quote.split() # str->list
print(quote)
print(words)
sentences=quote.split(',')
print(sentences)

life before death,courage before despare,journey before destination
['life', 'before', 'death,courage', 'before', 'despare,journey', 'before', 'destination']
['life before death', 'courage before despare', 'journey before destination']

In [14]:
addr=['Mbu','sree sanath nagar','tirpati','517502']
addr_str=",".join(addr)
print(addr,addr_str,sep='\n')
addr2="_".join(addr)
addr3="\n".join(addr)
addr4="what".join(addr)

['Mbu', 'sree sanath nagar', 'tirpati', '517502']
Mbu,sree sanath nagar,tirpati,517502

functions&modules

In [1]:
n=input("enter value")
if int(n)%2==0:
    print('even')
else:
    print('odd')

even

In [6]:
def fun_name([param1,param2,...]):
    statement1
    statement2
    ...
    statementn  
    return value

SyntaxError: invalid syntax (4264194939.py, line 1)

In [9]:
def greeting():
    print("Happy")
    print("Depavali")

In [8]:
def total(a,b,c):
    ans = a+b+c
    print(f'total = {ans}')
total(10,20,30)
total(1,15,13)

total = 60
total = 29

In [7]:
def msg():
    print("Hello")
msg()
msg()
msg()

Hello
Hello
Hello

In [16]:
def mul(a,b):
    print(a*b)
mul(2,3)
mul(15,175)
mul(5,15)

6
2625
75

In [23]:
import math
def hyp(p,b):
    ans=math.sqrt(p**2+b**2)
    return ans
hyp(10,5)

11.180339887498949

In [25]:
def is_even(num):
    if num%2 ==0:
        return True
    else:
        return False
is_even(15)

False

In [30]:
x=int(input('enter even num'))
if is_even(x):
    print("good job")
else:
    print("you are stupid")

you are stupid

convention while creating function 
1 Dont take input inside function 
2 Return the value from the function 
3 use patameter to pass input to function 
4 keep it small & simple